# [dbo].[Academic_records]

In [0]:
USE [Kafedra]
GO

In [0]:
/****** Object:  Table [dbo].[Academic_records]    Script Date: 29.02.2024 10:20:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Academic_records](
	[id] [int] NOT NULL,
	[teacher_id] [int] NOT NULL,
	[discipline_id] [int] NOT NULL,
	[student_id] [int] NOT NULL,
	[grade] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK__Academic__3213E83F5FE6D2EC] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[Departments]

In [0]:
/****** Object:  Table [dbo].[Departments]    Script Date: 29.02.2024 10:20:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Departments](
	[id] [int] NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[faculty] [nvarchar](50) NOT NULL,
	[head_of_department] [nvarchar](50) NOT NULL,
	[room_number] [int] NOT NULL,
	[building_number] [int] NOT NULL,
	[phone_number] [nvarchar](50) NOT NULL,
	[number_of_teachers] [int] NOT NULL,
 CONSTRAINT [PK__Departme__3213E83F81552899] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[Disciplines]

In [0]:
/****** Object:  Table [dbo].[Disciplines]    Script Date: 29.02.2024 10:20:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Disciplines](
	[id] [int] NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[department_id] [int] NOT NULL,
	[teacher_lecturing] [int] NOT NULL,
	[hours] [int] NOT NULL,
	[type_of_final_control] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK__Discipli__3213E83F9ECFE979] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[Students]

In [0]:
/****** Object:  Table [dbo].[Students]    Script Date: 29.02.2024 10:20:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Students](
	[id] [int] NOT NULL,
	[last_name] [nvarchar](50) NOT NULL,
	[first_name] [nvarchar](50) NOT NULL,
	[middle_name] [nvarchar](50) NOT NULL,
	[department_id] [int] NOT NULL,
	[year_of_birth] [int] NOT NULL,
	[gender] [nvarchar](50) NOT NULL,
	[address] [nvarchar](50) NOT NULL,
	[city] [nvarchar](50) NOT NULL,
	[phone_number] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK__Students__3213E83F47977D95] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[Teachers]

In [0]:
/****** Object:  Table [dbo].[Teachers]    Script Date: 29.02.2024 10:20:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Teachers](
	[id] [int] NOT NULL,
	[last_name] [nvarchar](50) NOT NULL,
	[first_name] [nvarchar](50) NOT NULL,
	[middle_name] [nvarchar](50) NOT NULL,
	[department_id] [int] NOT NULL,
	[year_of_birth] [int] NOT NULL,
	[year_started_working] [int] NOT NULL,
	[experience] [int] NOT NULL,
	[position] [nvarchar](50) NOT NULL,
	[gender] [nvarchar](50) NOT NULL,
	[address] [nvarchar](50) NOT NULL,
	[city] [nvarchar](50) NOT NULL,
	[phone_number] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK__Teachers__3213E83FA3079FE1] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[Academic_records]

In [0]:
INSERT [dbo].[Academic_records] ([id], [teacher_id], [discipline_id], [student_id], [grade]) VALUES (1, 2, 2, 1, N'5')
INSERT [dbo].[Academic_records] ([id], [teacher_id], [discipline_id], [student_id], [grade]) VALUES (2, 1, 1, 2, N'2')
GO

# [dbo].[Departments]

In [0]:
INSERT [dbo].[Departments] ([id], [name], [faculty], [head_of_department], [room_number], [building_number], [phone_number], [number_of_teachers]) VALUES (1, N'Криптографии, связи, и информатики', N'Криптографии', N'Сидоров Петр Иванович', 31, 2, N'89137213243', 25)
INSERT [dbo].[Departments] ([id], [name], [faculty], [head_of_department], [room_number], [building_number], [phone_number], [number_of_teachers]) VALUES (2, N'Криптографии, связи и информатики', N'Информационная безопасность', N'Сидоров Петр  Иванович', 43, 2, N'89137213243', 25)
INSERT [dbo].[Departments] ([id], [name], [faculty], [head_of_department], [room_number], [building_number], [phone_number], [number_of_teachers]) VALUES (3, N'Подготовка оперативного состава', N'Обеспечение национальной безопасности', N'Петренко Петр Петрович', 11, 1, N'89018012131', 22)
INSERT [dbo].[Departments] ([id], [name], [faculty], [head_of_department], [room_number], [building_number], [phone_number], [number_of_teachers]) VALUES (4, N'Иностранные языки', N'Иностранные языки', N'Силуянова Екатерина Андреевна', 21, 1, N'89158157432', 10)
GO

# [dbo].[Disciplines]

In [0]:
INSERT [dbo].[Disciplines] ([id], [name], [department_id], [teacher_lecturing], [hours], [type_of_final_control]) VALUES (1, N'Обеспечение безопасности', 3, 1, 333, N'Диференцированный зачет')
INSERT [dbo].[Disciplines] ([id], [name], [department_id], [teacher_lecturing], [hours], [type_of_final_control]) VALUES (2, N'Криптография', 1, 2, 754, N'Диференцированый зачет')
INSERT [dbo].[Disciplines] ([id], [name], [department_id], [teacher_lecturing], [hours], [type_of_final_control]) VALUES (3, N'Английский язык', 4, 3, 800, N'Диференцированный зачет')
GO

# [dbo].[Students]

In [0]:
INSERT [dbo].[Students] ([id], [last_name], [first_name], [middle_name], [department_id], [year_of_birth], [gender], [address], [city], [phone_number]) VALUES (1, N'Каликанов', N'Ярослав', N'Дмитриевич', 1, 2004, N'мужской', N'Ухтомского 65', N'Лукоянов', N'89043979051')
INSERT [dbo].[Students] ([id], [last_name], [first_name], [middle_name], [department_id], [year_of_birth], [gender], [address], [city], [phone_number]) VALUES (2, N'Голов', N'Сергей', N'Александрович', 4, 2004, N'мужской', N'Новоеначинание 21', N'Кудеярово', N'89024532125')
GO

# [dbo].[Teachers]

In [0]:
INSERT [dbo].[Teachers] ([id], [last_name], [first_name], [middle_name], [department_id], [year_of_birth], [year_started_working], [experience], [position], [gender], [address], [city], [phone_number]) VALUES (1, N'Петров', N'Петр', N'Петрович', 3, 1987, 2006, 18, N'Зав. Кафедры', N'мужской', N'Новоселкино д.115', N'Казань', N'89018012131')
INSERT [dbo].[Teachers] ([id], [last_name], [first_name], [middle_name], [department_id], [year_of_birth], [year_started_working], [experience], [position], [gender], [address], [city], [phone_number]) VALUES (2, N'Сидоров', N'Петр', N'Иванович', 1, 1967, 1999, 25, N'Зав. Кафедры', N'мужской', N'Новоселкино д.116', N'Казань', N'89137213243')
INSERT [dbo].[Teachers] ([id], [last_name], [first_name], [middle_name], [department_id], [year_of_birth], [year_started_working], [experience], [position], [gender], [address], [city], [phone_number]) VALUES (3, N'Силуянова', N'Екатерина', N'Андреевна', 4, 1997, 2022, 2, N'Зав Кафедры', N'женский', N'Новоселкино д.118', N'Москва', N'89158157432')
GO

# [FK_Academic_records_Disciplines]

In [0]:
ALTER TABLE [dbo].[Academic_records]  WITH CHECK ADD  CONSTRAINT [FK_Academic_records_Disciplines] FOREIGN KEY([discipline_id])
REFERENCES [dbo].[Disciplines] ([id])
GO
ALTER TABLE [dbo].[Academic_records] CHECK CONSTRAINT [FK_Academic_records_Disciplines]
GO

# [FK_Academic_records_Students]

In [0]:
ALTER TABLE [dbo].[Academic_records]  WITH CHECK ADD  CONSTRAINT [FK_Academic_records_Students] FOREIGN KEY([student_id])
REFERENCES [dbo].[Students] ([id])
GO
ALTER TABLE [dbo].[Academic_records] CHECK CONSTRAINT [FK_Academic_records_Students]
GO

# [FK_Academic_records_Teachers]

In [0]:
ALTER TABLE [dbo].[Academic_records]  WITH CHECK ADD  CONSTRAINT [FK_Academic_records_Teachers] FOREIGN KEY([teacher_id])
REFERENCES [dbo].[Teachers] ([id])
GO
ALTER TABLE [dbo].[Academic_records] CHECK CONSTRAINT [FK_Academic_records_Teachers]
GO

# [FK_Disciplines_Departments]

In [0]:
ALTER TABLE [dbo].[Disciplines]  WITH CHECK ADD  CONSTRAINT [FK_Disciplines_Departments] FOREIGN KEY([department_id])
REFERENCES [dbo].[Departments] ([id])
GO
ALTER TABLE [dbo].[Disciplines] CHECK CONSTRAINT [FK_Disciplines_Departments]
GO

# [FK_Disciplines_Teachers]

In [0]:
ALTER TABLE [dbo].[Disciplines]  WITH CHECK ADD  CONSTRAINT [FK_Disciplines_Teachers] FOREIGN KEY([teacher_lecturing])
REFERENCES [dbo].[Teachers] ([id])
GO
ALTER TABLE [dbo].[Disciplines] CHECK CONSTRAINT [FK_Disciplines_Teachers]
GO

# [FK_Students_Departments]

In [0]:
ALTER TABLE [dbo].[Students]  WITH CHECK ADD  CONSTRAINT [FK_Students_Departments] FOREIGN KEY([department_id])
REFERENCES [dbo].[Departments] ([id])
GO
ALTER TABLE [dbo].[Students] CHECK CONSTRAINT [FK_Students_Departments]
GO

# [FK_Teachers_Departments]

In [0]:
ALTER TABLE [dbo].[Teachers]  WITH CHECK ADD  CONSTRAINT [FK_Teachers_Departments] FOREIGN KEY([department_id])
REFERENCES [dbo].[Departments] ([id])
GO
ALTER TABLE [dbo].[Teachers] CHECK CONSTRAINT [FK_Teachers_Departments]
GO